.wrapper{
    display: flex;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.title{
    margin: 20px 0px 0px 70px;
    padding: 0;
    text-decoration: underline;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace
}
.title:hover{
    color: rgb(10, 168, 168);
    text-decoration: underline
}
nav{
    display: flex;
    margin: 0px 70px 0px auto;
}
.routeP, .userName{
    margin: 20px;
    padding: 0;
    line-height: 50px;
    text-decoration: underline;
    font-size: 25px;
    color: black;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace
}
.routeP:hover{
    color: rgb(10, 168, 168);
    text-decoration: underline
}